body{
	background: #662362;
	background: -webkit-linear-gradient(left, #662362, #2d8232);
	background: -moz-linear-gradient(left, #662362, #2d8232);
	background: -ms-linear-gradient(left, #662362, #2d8232);
	background: -o-linear-gradient(left, #662362, #2d8232);
	background: linear-gradient(to right, #662362, #2d8232);
	font-family: 'helvetica neue';
    font-weight: 200;
    font-size: 20px;
    color: black;						
}
.dictate{
	max-width:500px;
    margin:50px auto;
    border-radius:5px;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    padding:1rem 2rem 3rem 1rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc600), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height:3rem;
}